/*
 * gray: CCCCCC
*/
body {
  font: 14px/1 'Helvetica Neue', Helvetica, sans-serif;
}

.error {
  background: #FF9E9E;
  border: 2px solid #FF0808;
  padding: 10px 15px;
}

.table {
  border: 1px solid #ccc;
  border-collapse: collapse;
}
.table td, .table th {
  border: 1px solid #ccc;
  line-height: 1.2rem;
}
.table td span {
  display: inline-block;
  line-height: 1.2rem;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  min-height: 1.2rem;
}
.table td span.datatype-datetime {
  overflow: visible;
}
.table #add-column-th {
  position: relative;
  width: 200px;
}
.table #js-add-column-box {
  position: absolute;
  top: 1.2rem;
  left: 0px;
  background: white;
  width: 100%;
  border: 1px solid #CCCCCC;
  text-align: left;
  font-weight: normal;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 3px 5px;
}
